In [1]:
import pandas as pd

In [33]:
# original file too big to put on github
file = "yelp_academic_dataset_business.json" 

df = pd.read_json(file, lines=True)
states = df.state.unique()

In [35]:
for x in states:
    number = len(df[df.state == x])
    print(x, number)

CO 3198
OR 25175
FL 21907
GA 18090
BC 17298
OH 11258
TX 24485
MA 36012
WA 3121
KS 1
CA 13
NM 1
NC 1
OK 1
IL 1
NY 2
AZ 2
ON 2
NH 4
DE 1
MN 1
VA 2
WI 1
WY 1
KY 1
MI 1
DC 1
ME 1
ABE 1
AL 1
HI 1

In [38]:
desired_state = "OH"
df[df.state == desired_state].to_json(f"{desired_state}_yelp_businesses.json", orient="records")